@model domain.critere

@{
    ViewBag.Title = "deleted";
}
<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <h2>Evaluation supprimée</h2>

            <p>l'evaluation a été supprimé avec succés</p>


           
        </div>
    </div>
</section>

<h5>@Html.ActionLink("Retour vers la liste des évaluations360", "Index")</h5>



