
@{
    Layout = null;
}

<html lang="en" class="backgroundsize bgpositionshorthand bgpositionxy bgrepeatround bgrepeatspace bgsizecover borderradius cssanimations csscalc csstransforms supports csstransforms3d csstransitions no-flexboxtweener fontface inlinesvg localstorage multiplebgs preserve3d sessionstorage smil svgclippaths svgfilters svgforeignobject canvas todataurljpeg todataurlpng todataurlwebp no-touch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Angle - Bootstrap Admin Template</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href=".~/contentadvy/vendor/fontawesome/css/font-awesome.min.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/contentadvy/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/contentadvy/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/contentadvy/css/app.css" id="maincss">
</head>

<body>
    <div class="wrapper">
        <div class="abs-center wd-xl">
            <!-- START panel-->
            <div class="text-center mb-xl">
                <div class="text-lg mb-lg">404</div>
                <p class="lead m0">Page Introuvable Retourner en arriere </p>
                <p></p>
            </div>
            <div class="input-group mb-xl">
                <input type="text" placeholder="Try with a search" class="form-control">
                <span class="input-group-btn">
                </span>
            </div>
            <ul class="list-inline text-center text-sm mb-xl">
                <li>
                    <a href="dashboard.html" class="text-muted">Retourner </a>
                </li>
                <li class="text-muted">|</li>
                <li>
                    <a href="login.html" class="text-muted">Login</a>
                </li>
                <li class="text-muted">|</li>
                <li>
                    <a href="register.html" class="text-muted"></a>
                </li>
            </ul>
            <div class="p-lg text-center">
                <span>©</span>
                <span>2016</span>
                <span>-</span>
                <span>Angle</span>
                <br>
                <span>Bootstrap Admin Template</span>
            </div>
        </div>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/contentadvy/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/contentadvy/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/contentadvy/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/contentadvy/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
    <!-- PARSLEY-->
    <script src="~/contentadvy/vendor/parsleyjs/dist/parsley.min.js"></script>
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/contentadvy/js/app.js"></script>


</body>
</html>