@model domain.critere

@{
    ViewBag.Title = "deleted";
}
<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <h2>suppression</h2>



           
        </div>
    </div>
</section>

@Html.ActionLink("Retour", "Index")



<h2>commentaire supprimé avec succés</h2>

