
@{
    ViewBag.Title = "Exist";
}
<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <h2>Erreur</h2>

            <h3>Vous avez déja efféctué un commentaire sur cet employé</h3>

            @Html.ActionLink("Retour", "Index")




        </div>
    </div>
</section>

