@model domain.evaluation360

@{
    ViewBag.Title = "deleted";
}
<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <h2>le critére a été supprimé avec succés</h2>

            @Html.ActionLink("Retour vers la listes des critéres", "Index")





           
        </div>
    </div>
</section>




